.container {
  display: inline-block;
  width: 70%;
  height: 80vh;
  margin: auto;
  text-align: center;
  /* position: relative; */
}

.tableDiv {
  display: inline-block;
  margin: 30px;
  vertical-align: top;
  background-color: beige;

}



.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  /* font-family: 'Indie Flower', cursive; */
}

img {
  width: 80%;
}

footer {

  text-align: center;
}

.btn {
  display: block;
}



#run {
  margin-top: 100px;
  width: 10rem;
  height: 4rem;
  /* font-size: 2rem; */
  font-weight: 900;
  background-color: green;
  color: white;
  outline: none;
  border: none;
  border-radius: 10px;
  text-align: center;

}

#run:hover {
  background-color: rgb(18, 112, 18);

}

#run:active {
  /* font-size: 1.5rem; */
}